<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PageMaster.Master.cs" Inherits="JawelsDiamond.Views.HeaderMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    <link
        rel="stylesheet"
        href="CSS/pico.classless.min.css">
    <link
        rel="stylesheet"
        href="CSS/pico.colors.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <asp:ContentPlaceHolder ID="Head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li id="HomeNavItem" runat="server"><a href="HomePage.aspx">Home</a></li>
                <li id="CartNavItem" runat="server"><a href="CartPage.aspx">Cart</a></li>
                <li id="MyOrdersNavItem" runat="server"><a href="MyOrdersPage.aspx">My Orders</a></li>
                <li id="ProfileNavItem" runat="server"><a href="ProfilePage.aspx">Profile</a></li>
                <li id="AddJewelNavItem" runat="server"><a href="AddJewelPage.aspx">Add Jewel</a></li>
                <li id="ReportsNavItem" runat="server"><a href="ReportsPage.aspx">Reports</a></li>
                <li id="HandleOrdersNavItem" runat="server"><a href="HandleOrdersPage.aspx">Handle Orders</a></li>
            </ul>
            <ul>
                <li id="RegisterNavItem" runat="server"><a href="RegisterPage.aspx">Register</a></li>
                <li id="LoginNavItem" runat="server"><a href="LoginPage.aspx">Login</a></li>
                <li id="LogoutNavItem" runat="server"><a href="LogoutPage.aspx">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <asp:ContentPlaceHolder ID="ContentBody" runat="server">
        </asp:ContentPlaceHolder>
    </main>
    <footer style="text-align: center"><small>Created with 🤍 by <b>Bapak-Bapak RT006</b></small></footer>
</body>
</html>
